
@{
    ViewData["Title"] = "Explore";
}

<div class="container">

    <div class="hotel-detail-header">
        <h1 class="hotel-detail-title">Story of us</h1> </br>
    </div>
    <div class="hotel-detail-image-container">
        <div class="row">
            <div class="col">
                <img style="height: 450px; width: 80%;object-fit:contain" src="/img/story-banner.png" />
            </div>
        </div>
    </div>
    
    <div class="row story-container" >
        <div class="col-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel sapien dictum, sollicitudin nibh id, dapibus enim. Maecenas rhoncus sapien in sem gravida aliquam. Curabitur rhoncus ullamcorper libero, nec vehicula augue sodales in. Nulla vitae vulputate sem. Vivamus tempus dapibus rhoncus. Aenean a pharetra orci. Morbi nec congue tortor, sed eleifend nulla. Curabitur imperdiet dui eu fringilla mattis. Fusce nec ipsum lectus. Praesent nulla mauris, imperdiet id elementum sit amet, tempus vel erat. Phasellus aliquet faucibus sem sed gravida. Aenean luctus leo ac odio viverra lobortis. Fusce commodo lacinia tortor vitae rhoncus. Ut vitae dui varius, venenatis felis nec, auctor erat. Nunc a placerat ligula. Aenean ex arcu, fermentum vel purus nec, vehicula rhoncus est.

            Quisque laoreet sed justo eget vestibulum. Quisque mollis sem libero. Nullam a aliquam nisi, eu congue eros. Sed id egestas sem, non feugiat ligula. Etiam ut est ut nisi vulputate convallis eget vitae nulla. Donec rhoncus libero nulla, id laoreet purus lacinia quis. Donec condimentum rutrum rhoncus.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eleifend vehicula libero vel condimentum. Nam a vehicula purus. In hac habitasse platea dictumst. Donec condimentum velit id sem interdum, eget mollis magna placerat. Fusce laoreet commodo massa, nec suscipit felis accumsan non. Integer enim mauris, tempus in eleifend et, ullamcorper porta dolor. Nullam feugiat erat nec commodo hendrerit. Vestibulum vitae cursus quam. Nam congue, nulla vitae euismod condimentum, arcu justo varius eros, tristique porttitor lorem augue vel felis. Nunc ac turpis vel nibh hendrerit facilisis a sed sapien. Fusce tincidunt quam sem, quis ultrices arcu semper sit amet. Praesent cursus vitae massa vel lacinia. Sed eget imperdiet augue.

            Aliquam mauris ligula, facilisis sed metus sodales, imperdiet blandit ante. Vestibulum facilisis rhoncus euismod. Ut molestie vehicula libero, eget dictum risus luctus ut. Proin mollis ex a sagittis congue. Phasellus sit amet maximus ex, sed tincidunt sapien. Aliquam non sapien eget nisi posuere vehicula. Vestibulum dignissim tellus at orci pulvinar vulputate. Suspendisse potenti. Cras sagittis ullamcorper mauris, a sodales metus consectetur at. Fusce rhoncus fringilla leo, in vehicula massa mattis vitae. Quisque pharetra eget nisi vitae sollicitudin. Etiam nibh sapien, vulputate ac lectus vel, ullamcorper fermentum ipsum.

            Donec a vehicula libero, vel tristique nulla. Etiam pulvinar volutpat quam, vitae venenatis magna maximus semper. Integer non magna sit amet nisl ornare rhoncus quis sit amet sem. Nam nec ullamcorper arcu. Duis rhoncus ac lectus nec efficitur. Donec vel felis ac magna pretium mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            Donec consectetur venenatis varius. Nulla fringilla finibus eleifend. Cras luctus ex vel ultricies finibus. Phasellus eget lacinia risus. Integer vitae erat non mauris feugiat consequat. Nunc eget erat non sapien blandit feugiat quis in felis. Vivamus eget tempus velit. Nullam vel semper libero, nec blandit erat.

            Suspendisse justo tortor, condimentum sit amet neque in, commodo mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus rhoncus leo eu aliquam dictum. Integer ornare odio at nisi volutpat, vitae posuere mi imperdiet. Aliquam euismod semper ipsum eget ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac leo aliquam, dignissim nisl sit amet, congue risus. Maecenas cursus porttitor magna, vel facilisis augue vestibulum hendrerit. Proin eu ullamcorper est. Nunc a nunc lacinia, aliquet eros ut, faucibus odio.

            Fusce lobortis urna dolor, id pulvinar lacus bibendum eu. Aliquam ligula odio, maximus nec varius nec, pretium vel ligula. Quisque porta, mi nec bibendum vulputate, diam velit varius mauris, sit amet pretium metus est sit amet augue. Sed vel diam ante. Duis eget nulla leo. Nulla eget leo quis diam pharetra interdum. Nam feugiat libero et nulla varius, sed congue mauris iaculis. Donec luctus mauris eros, id euismod ipsum semper a. Duis lacinia id eros quis tincidunt. Nulla tristique scelerisque justo. Suspendisse tempus ornare diam ac imperdiet. Sed vehicula id nibh vitae hendrerit. Phasellus velit leo, feugiat nec tempus quis, faucibus sit amet nisi. Integer ut est neque.

            Ut hendrerit sed ex et tempus. Etiam eget ligula non nulla vestibulum ullamcorper ac id diam. Proin nec arcu vel neque ornare lacinia nec sed mauris. Donec mauris turpis, sagittis in libero nec, sollicitudin egestas urna. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi tincidunt, nisl eu scelerisque pharetra, ligula est porta erat, nec condimentum lacus enim vitae purus. Proin ultricies massa sapien, sit amet commodo libero lacinia quis.

            Cras volutpat erat sit amet semper elementum. Nulla mollis maximus pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt nulla in justo fringilla, ac accumsan neque consectetur. Ut vitae lectus nulla. Nulla et imperdiet urna. Nam volutpat arcu luctus est vestibulum, porta fringilla sem congue. In scelerisque erat a tellus efficitur, eget molestie augue aliquet. Ut a ex leo. Nullam massa erat, ultrices vitae tortor quis, posuere volutpat tortor. Phasellus placerat imperdiet lectus, quis dictum risus dapibus eu. Aenean porttitor varius malesuada. Fusce sit amet facilisis nulla. Mauris nec facilisis nisl, id egestas felis. Pellentesque at pretium nibh.
        </div>
     
    </div>
</div>