@{
    ViewData["Title"] = "Home Page";
}
<h1>New branch</h1>
<div class="image-grid">
    <a class="image-grid-col-2 image-grid-row-2 img-homepage">
        <span class="notify-badge">20$ perday</span>
        <div class="title-badge-container">
            <span>Title Name Here</span>
            </div> 
        <img class="" src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" alt="architecture">
    </a>
    <a class="img-homepage">
        <span class="notify-badge">20$ perday</span>
        <div class="title-badge-container">
            <span>Title Name Here</span>
        </div>
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" alt="architecture">
    </a>
    <a class="img-homepage">
        <span class="notify-badge">20$ perday</span>
        <div class="title-badge-container">
            <span>Title Name Here</span>
        </div>
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" alt="architecture">
    </a>
    <a class="img-homepage">
        <span class="notify-badge">20$ perday</span>
        <div class="title-badge-container">
            <span>Title Name Here</span>
        </div>
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" alt="architecture">
    </a>
    <a class="img-homepage">
        <span class="notify-badge">20$ perday</span>
        <div class="title-badge-container">
            <span>Title Name Here</span>
        </div>
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" alt="architecture">
    </a>
  
</div>

