@page
@model LoginModel



<h1>@ViewData["Title"]</h1>
<div class="row form-login-container">
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
        <form class="login-form" method="post">
            <!--   con = Container  for items in the form-->
            <div class="con">
                <!--     Start  header Content  -->
                <header class="head-form">
                    <h2>LogIn</h2>
                    <!--     A welcome message or an explanation of the login form -->
                    <p>login here using your username and password</p>
                </header>
                <!--     End  header Content  -->
                <br>
                <div class="field-set">

                    <!--   user name -->
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <!--   user name Input-->
                    <input class="form-input-login" id="txt-input" type="username" asp-for="Input.Email">

                    <br>

                    <!--   Password -->

                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <!--   Password Input-->
                    <input id="txt-input" asp-for="Input.Password">

                    <!--      Show/hide password  -->
                    


                    <br>
                    <!--        buttons -->
                    <!--      button LogIn -->
                    <button type="submit" class="log-in login-form-button"> Log In </button>
                </div>

                <!--   other buttons -->
                <div class="other">
                    <!--      Forgot Password button-->
                    <button class="btn submits frgt-pass login-form-button">Forgot Password</button>
                    <!--     Sign Up button -->

                    <button onclick="location.href='/Identity/Account/Register'" href="/Identity/Account/Register" class="btn submits sign-up login-form-button ">
                        Sign Up
                            <!--         Sign Up font icon -->
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                   
                   
                    <!--      End Other the Division -->
                </div>

                <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
        </form>
    </div>
<div>

@section Scripts {
   
    <partial name="_ValidationScriptsPartial" />
}
