@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row form-login-container">
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
        <form class="login-form" id="login-form-home" method="post">
            <!--   con = Container  for items in the form-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="con">
                <!--     Start  header Content  -->
                <header class="head-form">
                    <h2>Register</h2>
                    <!--     A welcome message or an explanation of the login form -->
                    <p>Register new account</p>
                </header>
                @*<p>@TempData["Success"]</p>
                    <input class="form-input-login" id="messe" type="text" value="@TempData["Success"]">*@

            <div class="field-set">

                <!--   user name -->
                <div>
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <!--   user name Input-->
                    <input placeholder="Email" class="form-input-login form-control" id="txt-input" type="username" asp-for="Input.Email" autocomplete="username" aria-required="true">
                    <br />
                    <span asp-validation-for="Input.Email" class="text-danger" style="font-size: 13px;"></span>
                </div>

                <div>
                    <span class="input-item">
                        <i class="far fa-file-alt"></i>
                    </span>
                    <!--   user name Input-->
                    <input placeholder="First Name" class="form-input-login form-control" id="txt-input" asp-for="Input.Firstname"  aria-required="true">
                    <br />
                    <span asp-validation-for="Input.Firstname" class="text-danger" style="font-size: 13px;"></span>
                </div>


                <div>
                    <span class="input-item">
                        <i class="far fa-file-alt"></i>
                    </span>
                    <!--   user name Input-->
                    <input placeholder="Last Names" class="form-input-login form-control" id="txt-input" asp-for="Input.Lastname"  aria-required="true">
                    <br />
                    <span asp-validation-for="Input.Lastname" class="text-danger" style="font-size: 13px;"></span>
                </div>



                <!--   Password -->
                <div>
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <!--   Password Input-->
                    <input placeholder="Password"  id="txt-input" asp-for="Input.Password">
                    <br />
                    <span asp-validation-for="Input.Password" class="text-danger" style="font-size: 13px;"></span>
                </div>
                <div>
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <!--   Password Input-->
                    <input placeholder="Confirm Password" id="txt-input" asp-for="Input.ConfirmPassword">
                    <br />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="font-size: 13px;"></span>
                </div>

                @*<div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>*@

                <!--      Show/hide password  -->
                <!--        buttons -->
                <!--      button LogIn -->

                <button id="registerSubmit" type="submit" class="log-in login-form-button"> Register </button>
            </div>

                <!--   other buttons -->
            <div class="other">
                <!--      Forgot Password button-->

                <a id="forgot-password" class="btn submits frgt-pass" style="margin-top: 14px;" asp-page="./ForgotPassword">External Login</a>

                <!--     Sign Up button -->

                <button type="button" onclick="location.href='/Identity/Account/Login'" href="/Identity/Account/Login" class="btn submits sign-up login-form-button ">
                    Back to Login
                    <!--         Sign Up font icon -->
                  
                </button>


                <!--      End Other the Division -->
            </div>

                <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
        </form>

    </div>

    <div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        @section Scripts {
            <script>//var messenger = document.getElementById("messe");
                //console.log(messenger)
                //Swal.fire({
                //    position: 'center',
                //    icon: 'success',
                //    title: 'Login Success',
                //    showConfirmButton: false,
                //    timer: 1000
                //});

                //if (messenger.val > 0) {
                //    Swal.fire({
                //        position: 'top-end',
                //        icon: 'success',
                //        title: 'Login Success',
                //        showConfirmButton: false,
                //        timer: 1500
                //    })
                //};</script>
            <partial name="_ValidationScriptsPartial" />
        }
        <script>$(document).ready(function () {

            })</script>
