* {
    font-family: 'Poppins', sans-serif;
}
.container-homepage {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 90px;
}
img {
    border-radius: 20px;
}
.img-homepage {
    position: relative;
    display: inline-block;
}
.image-grid {
    --gap: 29px;
    --num-cols: 4;
    --row-height: 230px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.img-homepage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*.image-grid-col-2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.image-grid-col-2 {
   
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}
.notify-badge {
    position: absolute;
    top: 0px;
    background: #FF498B;
    text-align: center;
    border-radius: 0px 10px 0px 10px;
    color: white;
    right: 0px;
    padding: 5px 30px;
    font-size: 18px;
}
.title-badge-container {
    position: absolute;
    bottom: 20px;
    left: 30px
}
.title-badge-container > span {
    color: white;
}
/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}