* {
    font-family: 'Poppins', sans-serif;
}
.container-homepage {
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 90px;
    z-index: 1;
}

#main-wrapper, #main-content {
    display: flex;
    flex: 1;
}

#main-wrapper {
    height: 100%;
    width: 100%;
}
img {
    border-radius: 20px;
}
.img-homepage {
    position: relative;
    display: inline-block;
    transition: linear .1s;
}
.image-grid {
    --gap: 29px;
    --num-cols: 6;
    --row-height: 230px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.img-homepage:hover {
    transform: translate(0px, -2px);
}
.img-homepage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .1s;
}
    .img-homepage > img:hover {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
      
    }
/*.image-grid-col-2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.image-grid-col-2 {
   
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}
.notify-badge {
    position: absolute;
    top: 0px;
    background: #FF498B;
    text-align: center;
    border-radius: 0px 10px 0px 10px;
    color: white;
    right: 0px;
    padding: 5px 30px;
    font-size: 18px;
    z-index: 3;
}
.title-badge-container {
    position: absolute;
    bottom: 20px;
    left: 30px
}
.title-badge-container > span {
    color: white;
}
/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}
.title-content{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #152C5B;
    margin-top: 50px;
}
#main-top-bar {
    top:0;
    height: 70px;
    position: fixed;
    min-height: 70px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: white;
    padding-left: 10rem;
    
}

.shape {
    width: 40%;
    height: 70px;
    -webkit-clip-path: polygon(94% 0, 100% 26%, 100% 100%, 0 100%, 22% 0);
    clip-path: polygon(94% 0, 100% 26%, 100% 100%, 0 100%, 22% 0);
    background: #673AB7;
    background: linear-gradient(90deg, #6740B4, #892FC4);
}

.main-logo {
    background: url(https://rolecalljobs.com/img/RoleCall_WhiteLogo.svg) no-repeat;
    width: 140px;
    height: 55px;
}

.user-dropdown, .user-menu {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.user-menu {
    height: 70px;
    padding: 0 1rem;
    top: 0;
    z-index: 10;
}

    .user-menu:hover {
        background-color: transparent;
        background-color: rgba(255, 255, 255, 0.1);
    }

.user-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-image-wrapper {
    height: 70px;
    background-color: transparent;
    z-index: 20;
}

.user-image {
    display: inline-block;
    margin-top: 14px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-name-wrapper {
    padding-left: 1rem;
}

    .user-name-wrapper i {
        padding: 0 0.3rem;
    }

.user-menu.show {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
}

    .user-menu.show .user-dropdown {
        box-shadow: -2px 4px 7px #ccc;
        display: block;
    }

.user-dropdown {
    position: absolute;
    top: 70px;
    display: none;
    right: 0;
    width: 220px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-item {
    color: #000;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

    .dropdown-item:active, .dropdown-item:hover {
        background-color: #EBF5FF;
    }

    .dropdown-item span {
        color: #03A9FA;
        display: inline-block;
        width: 24px;
        text-align: center;
    }
.booking-container{
    height: 600px;
   
}
.booking-container-left {
    border: solid #e0e0e0 1px;
    border-radius: 20px;
    height: 100%;
   
}
.booking-container-right {
    margin-left: 50px;
    height: 100%;
    margin-top: 70px;
}
.booking-container-right >img {
   height: 450px;
   width: 100%;
}
.title-booking-left {
    color: #152C5B;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    line-height: 40px;
}
fieldset {
    margin-bottom: 14px;
    padding-bottom: 14px;
    position: relative;
}
    fieldset > legend {
        font-size: 14px;
        color: #152C5B
    }

fieldset, input[type="button"] {
    border: 0;
}

input[type="button"] {
   position: absolute;
    color: #fff;
    cursor: pointer;
    width: 69px;
  
    border-radius: 10px;
    height: 45px;
}
.decrease-button{
    left: 0px;
  
    background-color: red;
}
.increase-button {
    right: 0px;
    background-color: #1ABC9C;
}
.date-picker-icon {
    position: absolute;
    color: #fff;
    cursor: pointer;
    width: 69px;
    border-radius: 10px;
    height: 45px;
    left: 0px;
    top: 30px;
    font-size: 20px;
    background-color: #152C5B;
    border: 0;
    
}
input[type="text"] {
    height: 45px;
    width: 100%;
    background-color: #F5F6F8;
    border-radius: 10px;
    outline: none;
    text-align: center;
    border: none;
}
.input-booking-location {
    height: 45px;
    width: 100%;
    background-color: #F5F6F8;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.button-survey-hotel {
    height: 45px;
    width: 100%;
    background-color: #3252DF;
    color: white;
    text-align: center;
   
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: linear 0.15s
}
    .button-survey-hotel:hover {
        box-shadow: 5px 4px 23px 0px rgba(50,82,223,0.58);
    }
.image-slider{
    width: 263px;
    height: 184px;
}