@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Sales Summary</h4>
                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                    
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div id="chartContainer" style="height: 500px; width: 90%;"></div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<script type="text/javascript">window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2",
            title: {
                text: "Hotel Picking Chart"
            },
            data: [
                {
                    // Change type to "doughnut", "line", "splineArea", etc.
                    type: "spline",
                    dataPoints: @Html.Raw(ViewBag.Data)
                }
            ]
        });
        chart.render();
    }</script>

